* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: beige;
}
header{
    height: 40px;
    background-color: white;
}
nav ul li {
    list-style: none;
    display: block;
    text-decoration: none;
    font-size: 20px;
    margin-top: 8px;
    margin-right: 5px;
}
a {
    text-decoration: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}
h1 {
    text-align: center;
    color: rgb(230, 97, 97);
}
footer {
    position: fixed;
    bottom: 0;
    background-color: white;
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    border-top: 1px solid #CCCCCC;
}