body {
    background: #000;
    display: flex;
    justify-self: center;
    align-items: center;
}
.login-box {
    width: 705px;
    height: 562px;
    flex-shrink: 0;
    background: #D9D9D9;
}
form {
    display: flex;
    width: 609px;
    height: 421px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
form h1 {
    color: #000;
    font-family: Jomhuria;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
form label {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}