body {
    
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: lightgrey;
}
.login-box {
    margin: 90px auto;
    display: block;
    text-align: center;
    background-color: lightgrey;
}
form {
    display: inline-block;
    width: 24.375rem;
    margin: 20px;
    padding: 20px;
    border: 1px solid #221d1d;
    border-radius: 4px;
    text-align: center;
    background-color: white;
}
form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form input {
    height: 30px;
    width: 70%;
}
.btn {
    background-color: rgb(100, 100, 194);
    height: 40px;
    border-radius: 4px;
}